{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Enter your passport application tracker number
      </h1>

      <form class="form" action="/passTrackingValidate" method="post">

            {{ govukInput({
              label: {
                text: "For example, PASS123ABC"
              },
                classes: "govuk-input--width-10",
                id: "passport-trackingNb",
                value: data['passport-trackingNb'],
                name: "passport-trackingNb"
        
            }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>

    
  </div>

  <script>

  </script>

  
{% endblock %}