{% extends "layouts/main.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Is this information correct?
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Benefit tracking number"
            },
            value: {
              text: data['benefit-trackingNb']
            },
            actions: {
              items: [
                {
                  href: "../benefit/tracking-number",
                  text: "Change",
                  visuallyHiddenText: "Benefit tracking number"
                }
              ]
            }
          },
          {
            key: {
              text: "Last name"
            },
            value: {
              text: data['benefit-lastname']
            },
            actions: {
              items: [
                {
                  href: "../benefit-claim/benefit-lastname",
                  text: "Change",
                  visuallyHiddenText: "Benefit last name"
                }
              ]
            }
          }
        
        ]
      }) }}

   

      <form action="../benefit/status" method="post" novalidate>

        {{ govukButton({
          text: "See status"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
