{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/benefit-claim/tracking-number" method="post">

{{ govukRadios({
  name: "lowincometype",
  fieldset: {
    legend: {
      text: "Select the benefit to check?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "universalcredit",
      text: "Employment and Support Allowance (ESA)"
    },
    {
      value: "housingbenefit",
      text: "Personal Independence Payment (PIP)"
    },
    {
      value: "workingtaxcredit",
      text: "Attendance Allowance"
    },
    {
      value: "childtaxcredit",
      text: "Disability Living Allowance (DLA)"
    },
    {
      value: "jsa",
      text: "Severe Disablement Allowance"
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
