{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/benefit-claim/tracking-number" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "lowincometype",
  fieldset: {
    legend: {
      text: "Select the benefit to check?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "universalcredit",
      text: "Child Benefit"
    },
    {
      value: "housingbenefit",
      text: "Maternity Allowance"
    },
    {
      value: "workingtaxcredit",
      text: "Maternity Pay and Leave"
    },
    {
      value: "childtaxcredit",
      text: "Paternity Pay and Leave"
    },
    {
      value: "jsa",
      text: "Shared Parental Leave and Pay"
    },
    {
      value: "jsa",
      text: "Adoption Pay and Leave"
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
